/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue.woff2") format("woff2"), url("../fonts/BebasNeue.woff") format("woff"), url("../fonts/BebasNeue.ttf") format("truetype");
}

@font-face {
  font-family: 'NetflixFont_1';
  src: url("../fonts/NetflixFont_1.woff2") format("woff2"), url("../fonts/NetflixFont_1.woff") format("woff"), url("../fonts/NetflixFont_1.ttf") format("truetype");
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.padding {
  padding: 70px 45px;
}

.border-bot {
  border-bottom: 8px solid #222;
}

@media (max-width: 576px) {
  .padding {
    padding: 50px 5%;
  }
}

.Header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/b6f906ab-4f9f-49b5-a63b-6a3b29c8d04b/50bd2c9c-472c-481d-83d9-dc1cd0f1baf6/VN-en-20210118-popsignuptwoweeks-perspective_alpha_website_small.jpg);
  background-size: contain;
}

.Header .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
}

.Header-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 30px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Header-nav img {
  width: 10.3rem;
  height: 3rem;
}

.Header-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  padding: 7px 17px;
  background: #e50914;
  color: #fff;
  border-radius: 3px;
  font-size: 1rem;
}

.Header-text {
  z-index: 1;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header-text p {
  font-size: 1.625rem;
  font-weight: 400;
}

.Header-text h1 {
  font-size: 4rem;
  font-size: 4rem;
  width: 41rem;
  font-weight: bold;
  margin-top: 1rem;
}

.Header-text h3 {
  font-size: 1.625rem;
  margin: 1rem auto;
}

.Header-text a {
  font-size: 1.875rem;
  background-color: #e50914;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18rem;
  height: 4.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
}

.Header-text a i {
  margin-left: 1rem;
}

.Header-text input {
  width: 31rem !important;
  height: 4.7rem;
  border-radius: 0;
  border-color: initial;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Header-text input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: initial;
}

.Header-text .ready {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.5rem;
}

.Header-text a:hover {
  background: #f40612;
}

@media only screen and (max-width: 768px) {
  .Header {
    height: 70vh !important;
  }
  .Header-nav img {
    width: 7rem;
    height: 2rem;
  }
  .Header-text h1 {
    font-size: 3rem;
  }
  .Header-text p {
    font-size: 1.3rem;
  }
  .Header-text h3 {
    font-size: 1.3rem;
  }
  .Header-text a {
    font-size: 1rem;
    width: 12rem;
    height: 2.7rem;
  }
  .Header-text i {
    margin-left: .3rem;
    font-size: 1.5rem;
  }
  .Header-text .input-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Header-text .input-group-prepend a {
    margin-top: 1rem;
  }
}

@media (max-width: 576px) {
  .Header {
    height: 88vh !important;
  }
  .Header-nav {
    padding: 5% !important;
  }
  .Header-nav img {
    width: 7rem;
    height: 2rem;
  }
  .Header-text h1 {
    margin-top: 9rem;
    font-size: 1.7rem;
    width: 23rem;
  }
  .Header-text p {
    font-size: 1.3rem;
  }
  .Header-text h3 {
    font-size: 1.1rem;
  }
  .Header-text a {
    font-size: 1rem;
    width: 12rem;
    height: 2.7rem;
  }
  .Header-text i {
    margin-left: .3rem;
    font-size: 1.5rem;
  }
  .Header-text .ready {
    width: 80%;
  }
  .Header-text input {
    width: 21rem !important;
    height: 3rem;
  }
}

.Products {
  background: #000;
  color: #fff;
}

.Products .Product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 164px;
}

.Products .Product .des {
  width: 50%;
  padding: 0 3rem 0 0;
}

.Products .Product .des h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: .5rem;
}

.Products .Product .des h2 {
  font-size: 1.625rem;
  font-weight: 400;
  margin: .75em 0 .25em;
}

.Products .Product .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  position: relative;
}

.Products .Product .video img {
  width: 100%;
  z-index: 1;
}

.Products .Product .video video {
  position: absolute;
  width: 402px;
  top: 86px;
  left: 72px;
}

.Products .Product-2 .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.Products .Product-2 .video .des-img {
  position: absolute;
  bottom: 8%;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: .75em;
  -webkit-box-shadow: 0 0 2em 0 #000;
          box-shadow: 0 0 2em 0 #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background: #000;
  padding: .5em .75em;
}

.Products .Product-2 .video .des-img .img-left {
  width: 57px;
  margin: 0 1em 0 0;
}

.Products .Product-2 .video .des-img .img-right {
  width: 48px;
}

.Products .Product-2 .video .des-img .text {
  margin: .3em 0;
  width: 180px;
}

.Products .Product-2 .video .des-img .text .text-0 {
  font-size: 1em;
  font-weight: 600;
}

.Products .Product-2 .video .des-img .text .text-1 {
  font-size: .9em;
  font-weight: 400;
  color: #0071eb;
}

.Products .Product-3 .video img {
  z-index: 1;
}

.Products .Product-3 .video video {
  width: 338px;
  top: 44px;
  left: 103px;
}

@media only screen and (max-width: 768px) {
  .Product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 !important;
  }
  .Product .des {
    width: 100% !important;
    text-align: center;
  }
  .Product .des h1 {
    font-weight: bold !important;
    font-size: 2.5rem !important;
  }
  .Product .des h2 {
    font-size: 1.2rem !important;
  }
  .Product .video {
    width: 100% !important;
  }
  .Product .video img {
    height: 100%;
  }
  .Product-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 576px) {
  .Product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 !important;
  }
  .Product .des {
    width: 100% !important;
    text-align: center;
    padding: 0 !important;
  }
  .Product .des h1 {
    font-weight: bold !important;
    font-size: 1.5rem !important;
  }
  .Product .des h2 {
    font-size: 1.2rem !important;
  }
  .Product .video {
    width: 100% !important;
  }
  .Product-1 video {
    width: 250px !important;
    top: 50px !important;
    left: 45px !important;
  }
  .Product-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .Product-3 video {
    width: 205px !important;
    top: 28px !important;
    left: 65px !important;
  }
}

.Questions {
  color: #fff;
  background: #000;
}

.Questions-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.Questions-box h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: .5rem;
}

.Questions-box .box {
  width: 57%;
  margin: 2em auto;
}

.Questions-box .box .box-ques {
  text-align: left;
  margin-bottom: 0.5rem;
  position: relative;
  border: 0;
  font-size: 1.8rem;
}

.Questions-box .box .box-ques .ques {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1px;
  font-weight: 400;
  background: #303030;
  cursor: pointer;
}

.Questions-box .box .box-ques .ques p {
  padding: .8em 2.2em .8em 1.2em;
}

.Questions-box .box .box-ques .ques i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.Questions-box .box .box-ques .ques .i-rotate {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.Questions-box .box .box-ques .ans {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  font-weight: 400;
  background: #303030;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.Questions-box .box .box-ques .ans p {
  padding: .8em 2.2em .8em 1.2em;
}

.Questions-box .box .box-ques .ans-show {
  max-height: 500px;
}

.Questions-box a {
  font-size: 1.875rem;
  background-color: #e50914;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18rem;
  height: 4.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
}

.Questions-box a i {
  margin-left: 1rem;
}

.Questions-box .input-group {
  width: initial;
}

.Questions-box input {
  width: 31rem !important;
  height: 4.7rem;
  border-radius: 0;
  border-color: initial;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Questions-box input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: initial;
}

.Questions-box .ready {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.5rem;
}

.Questions-box a:hover {
  background: #f40612;
}

@media only screen and (max-width: 768px) {
  .Questions-box .box {
    width: 90%;
  }
  .Questions-box h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .Questions-box p {
    font-size: 1.2rem;
  }
  .Questions-box i {
    font-size: 1.5rem;
  }
  .Questions-box a {
    font-size: 1rem;
    width: 12rem;
    height: 2.7rem;
  }
  .Questions-box .input-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Questions-box .input-group-prepend a {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .Questions {
    padding-left: 0;
    padding-right: 0;
  }
  .Questions-box .box {
    width: 100%;
  }
  .Questions-box h1 {
    font-size: 1.5rem;
    font-weight: bold;
    width: 20rem;
  }
  .Questions-box p {
    font-size: 1.2rem;
  }
  .Questions-box i {
    font-size: 1.5rem;
  }
  .Questions-box a {
    font-size: 1rem;
    width: 12rem;
    height: 2.7rem;
  }
  .Questions-box .ready {
    width: 78%;
  }
  .Questions-box input {
    width: 21rem !important;
    height: 3rem;
  }
}

.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
}

.Footer a {
  color: #757575;
  font-size: 1em;
}

.Footer a:hover {
  text-decoration: underline;
}

.Footer-box {
  width: 100%;
  margin: auto 10rem;
  padding: 70px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer-box .Footer-site {
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
}

.Footer-box .Footer-site .Footer-top {
  font-size: 1em;
  margin: 0 0 30px;
}

.Footer-box .Footer-site .Footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Footer-box .Footer-site .Footer-links li {
  padding: 0;
  margin-bottom: 16px;
  display: inline-block;
  min-width: 100px;
  width: 25%;
  padding-right: 12px;
}

.Footer-box .Footer-site .Footer-globe {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: default;
}

.Footer-box .Footer-site .Footer-globe .globe-button {
  width: 155px;
  height: 54px;
  border: 1px solid #333;
  color: #999;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer-box .Footer-site .Footer-globe .globe-button span {
  margin: 0 5px;
}

.Footer-box .Footer-site .Footer-globe .globe-button .fa-sort-down {
  height: 20px;
}

.Footer-box .Footer-site .Footer-globe .globe-options {
  width: 155px;
  border: 1px solid #333;
  color: #999;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  overflow: hidden;
}

.Footer-box .Footer-site .Footer-globe .globe-options a {
  width: 100%;
  text-align: center;
  padding: 2px;
}

.Footer-box .Footer-site .Footer-globe .globe-options a:hover {
  color: #fff;
  text-decoration: none;
  background-color: dodgerblue;
}

.Footer-box .Footer-site .Footer-globe .globe-options .active {
  color: #fff;
  background-color: dodgerblue;
}

.Footer-box .Footer-site .Footer-globe .globe-options-show {
  height: 100%;
}

.Footer-box .Footer-site .Footer-bot {
  margin-top: 24px;
  color: #999;
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  .Footer-box {
    margin: 0;
  }
  .Footer-box .Footer-site {
    margin: 0;
    width: 100%;
  }
  .Footer a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 576px) {
  .Footer-box {
    margin: 0;
    padding: 0;
  }
  .Footer-box .Footer-site {
    margin: 0 auto;
    width: 90%;
  }
  .Footer li {
    width: 50% !important;
  }
  .Footer a {
    font-size: 0.8rem;
  }
  .Footer .footer-top-a {
    font-size: 1rem;
  }
}

.container {
  width: 100%;
}

a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */